
@{
    ViewData["Title"] = "Confirm";
}


<div class="error-container">
    <div class="error-code">
        <h1>@ViewBag.ErrorTitle</h1>
    </div>
    <br /><br />
    <h4>@Html.Raw(ViewBag.ErrorMessage) </h4>
</div>

