@model CreateRoleViewModel
@{
    ViewData["Title"] = "Create Role";
}


    <div class="col-2">&nbsp;</div>
    <div class="col-6 text-center">

        <!-- Create role start -->
        <div>

            <h2>Create Role</h2>

            <form method="post" asp-action="CreateRole" asp-controller="Admin">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="frm-row">
                    <input asp-for="RoleName" class="form-control" type="text" placeholder="Role Name">
                    <span class="text-danger" asp-validation-for="RoleName"></span>
                </div>
                <br />
                <div class="frm-row text-center">
                    <button class="frm-button btn btn-primary" type="submit">Create Role</button>
                </div>
            </form>

        </div>
    </div>        <!-- Create role end ---->


<div class="col-2">&nbsp;</div>

