@model EmailViewModel
@{
    Layout = null;
}

<!-- Style this email however you like ...  -->

<!DOCTYPE html>
<html>
<head>
    <title>@Model.Title</title>
</head>

<body>
    Click <a href="@Model.Url">here</a> to @Model.Text
</body>

</html>



